:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
}
li {
display: flex;
justify-content: space-between;  
border-left-style: solid;
border-bottom-style: solid;

margin-bottom: 1em;
padding-left: 0.5em;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: transparent;
  border-style: none;
  border-width: 0.01em;
  font-size: 1.2em;

}
button:hover {
  border-color: #646cff;
}
.form{
  
  display: flex;
  margin-bottom: 2em;
}
.form button{
  border-style: solid;
  border-color: white;  
}

@media (min-width: 768px) {
  :root {
    font-size: 1.2em; /* Increased font size for larger screens */
  }

  button {
    font-size: 1.em; /* Increased font size for larger screens */
  }
  .form input{
    width: 30em;
  }
  .form button {
    font-size: 1.em; /* Increased font size for larger screens */
    padding: 0.5em 1em; /* Adjusted padding for larger screens */
  }
}